.env
.env.ftp
db_data/
wp-content/uploads/*
!wp-content/uploads/.gitkeep
wp-content/languages/*
!wp-content/languages/.gitkeep
wp-content/upgrade/
wordpress/
database/*
!database/.gitkeep
*.log
.DS_Store
.idea/

# Backups do servidor
wp-content/roteiro-backup/backups/
database/server-backups/
scripts/
